<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sklagat46.medis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/undraw_cabin_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name="com.sklagat46.medis.ui.Moh513Activity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name="com.sklagat46.medis.ui.Moh514Activity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name="com.sklagat46.medis.ui.AddIndividualActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sklagat46.medis.ui.ELearningActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sklagat46.medis.ui.ReportsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.sklagat46.medis.ui.EventsActivity"
            android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" android:host="www.example.com" />
            <data android:scheme="https" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.sklagat46.medis.ui.ReferralActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sklagat46.medis.ui.IndividualHouseData"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sklagat46.medis.ui.AddHouseHold"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sklagat46.medis.ui.household.HouseHoldActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sklagat46.medis.ui.ResetPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sklagat46.medis.ui.RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sklagat46.medis.ui.login.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sklagat46.medis.ui.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sklagat46.medis.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
           <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
    </application>

</manifest>